/DocumentMaster/.vs/*
/DocumentMaster/DocumentMaster/bin/*
/DocumentMaster/DocumentMaster/obj/*
/DocumentMaster/DocumentMaster.DAL/bin/*
/DocumentMaster/DocumentMaster.DAL/obj/*
/DocumentMaster/DocumentMaster.BLL/bin/*
/DocumentMaster/DocumentMaster.BLL/obj/*
/DocumentMaster/DocumentMaster.Models/bin/*
/DocumentMaster/DocumentMaster.Models/obj/*

