/DM/.vs/*
/Finance/Finance/bin/*
/Finance/Finance/obj/*
/Finance/Finance.DAL/bin/*
/Finance/Finance.DAL/obj/*
/Finance/Finance.BLL/bin/*
/Finance/Finance.BLL/obj/*
/Finance/Finance.Models/bin/*
/Finance/Finance.Models/obj/*
/Finance/WebApplication/bin/*
/Finance/WebApplication/obj/*
/Finance/FinanceBlazorServer/bin/*
/Finance/FinanceBlazorServer/obj/*
/Finance/BlazorServerSide1
/Finance/BlazorServerSideApp/bin/*
/Finance/BlazorServerSideApp/obj/*
/Finance/ExportData/bin/*
/Finance/ExportData/obj/*
