/DocumentMaster/.vs/*
/DocumentMaster/DocumentMaster/bin/*
/DocumentMaster/DocumentMaster/obj/*
/DocumentMaster/DM.DAL/bin/*
/DocumentMaster/DM.DAL/obj/*
/DocumentMaster/DM.BLL/bin/*
/DocumentMaster/DM.BLL/obj/*
/DocumentMaster/DM.Models/bin/*
/DocumentMaster/DM.Models/obj/*
/DocumentMaster/DocumentMaster.BlazorServer/bin/*
/DocumentMaster/DocumentMaster.BlazorServer/obj/*
/DocumentMaster/DocumentMaster.BlazorServer/wwwroot/Upload/*
/DocumentMaster/DocumentMaster.BlazorServer/wwwroot/Quest/*
/DocumentMaster/Models/bin/*
/DocumentMaster/Models/obj/*

