@using DM.BLL.Services
@using DM.DAL.Models
@using DocumentMaster.BlazorServer.Pages
@using Microsoft.EntityFrameworkCore
@using Models
@using System.Text.Json



@inject PersonService personService


<AuthorizeView>
    <Authorized>
        <RadzenCard Style="margin-bottom:20px">
            <b>Разработал: @Developer   </b>
            <div>Отдел: @Department </div>
            <div>Проект: @ProjectName </div>
            <div>Раздел проекта: @SectionProject </div>
            <div>Количество листов в файле: @NumbersDrawing </div>
        </RadzenCard>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="admin,head">
    <Authorized>
        <RadzenCard Style="margin-bottom:20px">
            <div>Затраты на разработку: @TimeToDev </div>
        </RadzenCard>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public IList<FileUnit>? SelectedFiles { get; set; }

    private string Developer { get; set; } = string.Empty;
    private string Department { get; set; } = string.Empty;
    private string ProjectName { get; set; } = string.Empty;
    private string SectionProject { get; set; } = string.Empty;
    private string NumbersDrawing { get; set; } = string.Empty;
    private string TimeToDev { get; set; } = string.Empty;



    protected override async void OnInitialized()
    {

    }

    protected override async Task OnParametersSetAsync()
    {
        await GetData();
    }

    private async Task GetData()
    {
        if (SelectedFiles.Count == 0)
        {
            return ;
        }

        var perId = SelectedFiles.FirstOrDefault().UserActions.Where(u => u.ActionNumber == 1).Single().PersonId;

        PersonDTO p = await personService.GetPersonByIdAsync(perId);

        if (p != null)
        {
            Developer= $"{p.FirstName} {p.LastName}";
        }
        Department = SelectedFiles.FirstOrDefault().Department.Name;
        ProjectName = SelectedFiles.FirstOrDefault().Project.Name;
        SectionProject = SelectedFiles.FirstOrDefault().Section.Name;
        NumbersDrawing = SelectedFiles.FirstOrDefault().NumbersDrawings.ToString();
        TimeToDev = SelectedFiles.FirstOrDefault().UserActions.Sum(u=>u.TimeForAction).ToString();

    }

}
