@using DM.BLL.Services
@using DM.DAL.Models
@using Models
@using Microsoft.EntityFrameworkCore;

@inject DialogService DialogService
@inject ProjectService ProjectService

<RadzenCard Style="width: 100%; overflow: hidden;">
    <div class="row mb-5">
        @if (releaseToUpdate is null)
        {
            <div class="row mb-5">
                <div class="col-md-4">
                <RadzenLabel Text="Проект" />
            </div>
            <div class="col-md-8 ">
                <RadzenDropDownDataGrid Name="Project" TValue="ProjectDTO" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" AllowClear="true"
                                        Data=@(Projects) Style="width: 100%" AllowColumnResize="true"
                                        TextProperty="Name" ValueProperty="Id" AllowFilteringByAllStringColumns="true"
                                        Change=@(args => OnChangeProject(args))>
                    <Columns>
                        <RadzenDropDownDataGridColumn Property="Id" Title="ID" Width="100px" />
                        <RadzenDropDownDataGridColumn Property="Name" Title="Name" Width="200px" />
                    </Columns>
                </RadzenDropDownDataGrid>

            </div>
        </div>
        }

        <div class="row mb-5">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="шифр" />
            </div>
            <div class="col">
                <RadzenTextBox style="width: 100%;" @bind-Value="newReleaseDTO.ProjectCode" Name="Code" />
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Описание" />
            </div>
            <div class="col">
                <RadzenTextArea Style="width:inherit" @bind-Value="newReleaseDTO.Description" Name="Description" />
            </div>
        </div>

    </div>
    <div>
        <RadzenButton Size="Radzen.ButtonSize.Small" Disabled=@IsSubmitting ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Secondary" Text="Ok" Click=@(args => SubmitRelease()) />
    </div>
</RadzenCard>


@code {
    [Parameter]
    public ReleaseDTO? releaseToUpdate { get; set; }

    private IEnumerable<ProjectDTO> Projects { get; set; }

    private ReleaseDTO newReleaseDTO { get; set; } = new ReleaseDTO
    {
        ProjectCode  = string.Empty,
        Description  = string.Empty
    };

    private bool IsSubmitting;

    protected override async Task OnParametersSetAsync()
    {
        if (releaseToUpdate is not null)
        {
            newReleaseDTO = releaseToUpdate;
        }
        Projects = await ProjectService.GetProjectsListAsync();
    }

    private async Task SubmitRelease()
    { 
        if (IsSubmitting)
        {
            return;
        }

        try
        {
            IsSubmitting = true;
            DialogService.Close(newReleaseDTO);

        }
        finally
        { 
            IsSubmitting = false;
        }

    }
    void OnChangeProject(object value)
    {
        var choosenProject = Projects.Where(p => p.Id == (int)value).Single();
        newReleaseDTO.ProjectId = choosenProject.Id;
        newReleaseDTO.MainIngId = choosenProject.MainIngId;
        newReleaseDTO.ProjectName = choosenProject.Name;
    }
}
