@using DM.BLL.Services
@using DM.DAL.Models
@using Models
@using Microsoft.EntityFrameworkCore;

@inject DialogService DialogService
@inject PersonService PersonService
@inject FileService FileService
@inject ControlService ControlService




<RadzenCard Style="width: 100%; overflow: hidden;">
    <RadzenTemplateForm TItem="ControlDTO" Data="Control" Submit="@OnSubmit" InvalidSubmit=@OnInvalidSubmit>
        <div class="row mb-5">
            <div class="col-md-4" style="align-self: center;">
                <RadzenLabel Text="Выберите проверяющего" />
            </div>
            <div class="col-md-4" style="align-content:center">
                <RadzenDropDownDataGrid  TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" AllowClear="true"
                                        Data=@(Persons) Style="width: 200%" AllowColumnResize="true"
                                        TextProperty="LastName" ValueProperty="Id" AllowFilteringByAllStringColumns="true"
                                        Change=@(args => OnChangePerson(args))>
                    <Columns>
                        <RadzenDropDownDataGridColumn Property="FirstName" Title="FirstName" Width="120px" />
                        <RadzenDropDownDataGridColumn Property="LastName" Title="LastName" Width="120px" />
                    </Columns>
                </RadzenDropDownDataGrid>
            </div>
        </div>
       
        <br />
        <div class="row mb-5">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Шифр" />
            </div>
            <div class="col">
                <RadzenTextBox style="width: 100%;" @bind-Value="Code" Name="NumbDr" />
            </div>
        </div>
        
        <div class="row mb-5">
            <div class="col-md-4">
                <RadzenLabel Text="Количество листов(в А4)" />
            </div>
            <div class="col-md-6">
                <RadzenTextBox style="width: 100%;" @bind-Value="NumbersDrawings" Name="NumbDr" />
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-4">
                <RadzenLabel Text="Время на разработку, в часах " />
            </div>
            <div class="col-md-6">
                <RadzenTextBox style="width: 100%;" @bind-Value="TimeToDevelop" Name="TimeToDev" />
            </div>
        </div>
        <br />


        <RadzenButton ButtonType="ButtonType.Submit" Disabled=@IsSubmitting ButtonStyle="ButtonStyle.Secondary" Text="Submit"></RadzenButton>
        <RadzenButton Click="@((args) => DialogService.Close())" ButtonStyle="ButtonStyle.Danger" Text="Cancel" Style="width: 120px" />
    </RadzenTemplateForm>

</RadzenCard>



@code {
    [Parameter]
    public FileUnit SelectedFile { get; set; }

    private ControlDTO Control { get; set; } = new ControlDTO();

    private IList<PersonDTO> Persons { get; set; }

    private FileDTO FileDTOForSave { get; set; }

    private string TimeToDevelop { get; set; } = string.Empty;
    private string NumbersDrawings { get; set; } = string.Empty;
    private string Code { get; set; } = string.Empty;
    private bool IsSubmitting;

    protected override async Task OnInitializedAsync()
    {
        var p = await PersonService.GetPersonsAsync();
        Persons = p.ToList();

        StateHasChanged();
    }
    protected override void OnParametersSet()
    {
        TimeToDevelop = SelectedFile.TimeToCreate.ToString();
        NumbersDrawings = SelectedFile.NumbersDrawings.ToString();
        Code = SelectedFile.ProjectCode;
    }


    private async void OnSubmit()
    {
        if (IsSubmitting)
        {
            return;
        }
        try
        {
            IsSubmitting = true;
        var f = await FileService.GetItemByIdAsync(SelectedFile.Id);  
        f.Status = StatusFile.Checking;

        if (int.TryParse(NumbersDrawings, out int num))
        {
            f.NumbersDrawings = num;
        }
        else
        {
            f.NumbersDrawings = 0;
        }

        if (double.TryParse(TimeToDevelop, out double t))
        {
            f.TimeToCreate = t;
        }
        f.ProjectCode = Code;


        await FileService.UpdateFileAsync(f);

        Control.FileUnitId = SelectedFile.Id;
        Control.DateTime = DateTime.Now;
        Control.IsConfirmed = false;
        Control.IsInAction = true;

        await ControlService.AddControlAsync(Control);
        }
        finally
        {
            IsSubmitting = false;
        }

        DialogService.Close();

    }

    void OnChangePerson(object value)
    {
        Control.PersonId = (int)value;

    }
    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {

    }

}
