@using DM.BLL.Services
@using DM.DAL.Models
@using Models
@using Microsoft.EntityFrameworkCore;

@inject DialogService DialogService
@inject PersonService PersonService
@inject FileService FileService
@inject ControlService ControlService




<RadzenCard Style="width: 100%; overflow: hidden;">
    <RadzenTemplateForm TItem="ControlDTO" Data="Control" Submit="@OnSubmit" InvalidSubmit=@OnInvalidSubmit>
        <div class="row mb-5">
            <div class="col-md-4" style="align-self: center;">
                <RadzenLabel Text="Выберите проверяющего" />
            </div>
            <div class="col-md-4" style="align-content:center">
                <RadzenDropDownDataGrid  TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" AllowClear="true"
                                        Data=@(Persons) Style="width: 200%" AllowColumnResize="true"
                                        TextProperty="LastName" ValueProperty="Id" AllowFilteringByAllStringColumns="true"
                                        Change=@(args => OnChangePerson(args))>
                    <Columns>
                        <RadzenDropDownDataGridColumn Property="FirstName" Title="FirstName" Width="120px" />
                        <RadzenDropDownDataGridColumn Property="LastName" Title="LastName" Width="120px" />
                    </Columns>
                </RadzenDropDownDataGrid>
            </div>
        </div>
       
        <br />



        <RadzenButton ButtonType="ButtonType.Submit" Disabled=@IsSubmitting ButtonStyle="ButtonStyle.Secondary" Text="Submit"></RadzenButton>
        <RadzenButton Click="@((args) => DialogService.Close())" ButtonStyle="ButtonStyle.Danger" Text="Cancel" Style="width: 120px" />
    </RadzenTemplateForm>

</RadzenCard>



@code {
    [Parameter]
    public FileUnit SelectedFile { get; set; }

    private ControlDTO Control { get; set; } = new ControlDTO();

    private IList<PersonDTO> Persons { get; set; }

    private FileDTO FileDTOForSave { get; set; }


    private bool IsSubmitting;

    protected override async Task OnInitializedAsync()
    {
        var p = await PersonService.GetPersonsAsync();
        Persons = p.ToList();

        StateHasChanged();
    }



    private async void OnSubmit()
    {
        if (IsSubmitting)
        {
            return;
        }
        try
        {
            IsSubmitting = true;
        var f = await FileService.GetItemByIdAsync(SelectedFile.Id);  
        f.Status = StatusFile.Checking;


        await FileService.UpdateFileAsync(f);

        Control.FileUnitId = SelectedFile.Id;
        Control.DateTime = DateTime.Now;
        Control.IsConfirmed = false;
        Control.IsInAction = true;

        await ControlService.AddControlAsync(Control);
        }
        finally
        {
            IsSubmitting = false;
        }

        DialogService.Close();

    }

    void OnChangePerson(object value)
    {
        Control.PersonId = (int)value;

    }
    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {

    }

}
