@using Models


<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            <RadzenCard Class="w-100 mb-4 d-inline-block">
                <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
                <RadzenLabel Text="Подробности" Component="dataLabels" Style="margin-left: 30px; vertical-align: middle;" />
            </RadzenCard>
            <RadzenChart>
                <RadzenDonutSeries Data="@DataList" CategoryProperty="Name" ValueProperty="NumbersDrawings">
                    <ChildContent>
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </ChildContent>
                    <TitleTemplate>
                        <div class="rz-donut-content">
                            <div>Files</div>
                        </div>
                    </TitleTemplate>
                </RadzenDonutSeries>
            </RadzenChart>
            </div>
    </div>
</div>


@code {
    [Parameter]
    public List<FileDTO>? Files { get; set; }

    private List<FileDTO>? DataList { get; set; }

    bool showDataLabels = false;

    protected override void OnParametersSet()
    {
        if (Files is null)
        {
            return;
        }
        foreach (var f in Files)
        {
            if (f.Name.Length > 30)
            {
                f.Name = f.Name.Substring(0,30);
            }
        }
        DataList = Files;
    }

}
