@page "/Admin"

@using DM.BLL.Services
@using Models

@attribute [Authorize(Roles = "admin,head")]

@inject DepartmentService DepartmentsService
@inject SectionService SectionsService


<h1>Администрирование</h1>

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-md-6">
                <Sections SectionsList="@SectionsList" />
            </div>
            <div class="col-md-6">
                <Departments DepartmentsList="@DepartmentsList" />
            </div>
        </div>
    </Authorized>
</AuthorizeView>


@code {
    private IList<DepartmentDTO> DepartmentsList { get; set; }
    private IList<SectionDTO> SectionsList { get; set; }

        protected override async void OnInitialized()
    {
        var dep = await DepartmentsService.GetDepartmentsListAsync();

        DepartmentsList = dep.ToList();

        var sec = await SectionsService.GetAllAsync();

        SectionsList = sec.ToList();

        StateHasChanged();

    }

}
