@page "/Files"

@attribute [Authorize]

@using DM.BLL.Services
@using DM.DAL.Models
@using DocumentMaster.BlazorServer.Pages
@using Microsoft.EntityFrameworkCore
@using Models
@using System.Text.Json


@inject IConfiguration Configuration
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject FileService fileService
@inject PersonService personService
@inject DMContext db
@inject IWebHostEnvironment WebHostInvironment



<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<h3>Files </h3>
<AuthorizeView>
    <Authorized>

        <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Secondary" Text="Добавить" Click="@NavigatetoToAddFile" />
        <div class="row" >
            <div class="col-md-6">
                <FileList FilesGetCallBack="@SetSelectedFiles"/>
            </div>
            <div class="col-md-6">
                @if (SelectedFiles.Count != 0)
                {
                    <RadzenButton Click=@(args => DownloadFileFromStream())  ButtonStyle="ButtonStyle.Secondary" Text="Скачать"  />

                    <RadzenCard Style="margin-bottom:20px">
                        <b>Разработал: @GetDeveloper()   </b>
                    </RadzenCard>
                }
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {

    IList<FileUnit> SelectedFiles { get; set; }

    public IEnumerable<FileUnit>? files{ get; set; }

    private PersonDTO Developer { get; set; }

    private IEnumerable<PersonDTO> Persons { get; set; }


    protected override async  void OnInitialized()
    {
        SelectedFiles = new List<FileUnit>();
        Persons = await personService.GetPersonsAsync();
    }

    private string GetDeveloper()
    {
        if (SelectedFiles.Count == 0)
        {
            return null;
        }
        var perId = SelectedFiles.FirstOrDefault().UserActions.Where(u => u.ActionNumber == 1).Single().PersonId;

        PersonDTO p =Persons.Where(p=>p.Id==perId).Single();
        if (p != null)
        {
            return $"{p.FirstName} {p.LastName}";
        }
        return null;
    }

    private void SetSelectedFiles(IList<FileUnit> fileUnit)
    {
        if (fileUnit != null)
        {
            SelectedFiles = fileUnit;
        }
    }

    private async Task DownloadFileFromStream()
    {
        var name = SelectedFiles.FirstOrDefault().Name;
        var downloadPath = WebHostInvironment.WebRootPath + Configuration.GetConnectionString("ProjectRootDir") 
                            + $"\\{SelectedFiles.FirstOrDefault().ProjectId}" + $"\\{name}";
        var fileStream = File.OpenRead(@$"{downloadPath}");

        using var streamRef = new DotNetStreamReference(stream: fileStream);
        await JS.InvokeVoidAsync("downloadFileFromStream", name, streamRef);
    }


        private void NavigatetoToAddFile()
    {
        Navigation.NavigateTo("/AddFile");
    }
}
