@page "/Files"

@attribute [Authorize]

@using DM.BLL.Services
@using DM.DAL.Models
@using DocumentMaster.BlazorServer.Pages
@using Microsoft.EntityFrameworkCore
@using Models
@using System.Text.Json


@inject IConfiguration Configuration
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject FileService fileService
@inject PersonService personService
@inject DMContext db
@inject IWebHostEnvironment WebHostInvironment



<h3>Files </h3>
<AuthorizeView>
    <Authorized>
        <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Secondary" Text="Добавить" Click="@NavigatetoToAddFile" />
        <div class="row" >
            <div class="col-md-6">
                <RadzenCard>
                    <div class="d-inline-block">
                        <RadzenCheckBox @bind-Value=@CheckBoxUser Name="CheckBox1" TValue="bool" Change=@(args => OnChange(args)) />
                        <RadzenLabel Text="Только мои" Component="CheckBox1" Style="margin-left: 8px; vertical-align: middle;" />
                    </div>
                </RadzenCard>
                <FileList OnlyMy=@CheckBoxUser FilesGetCallBack="@SetSelectedFiles"/>
            </div>
            <div class="col-md-6">
                @if (SelectedFiles.Count != 0)
                {
                    <DownloadFile SelectedFiles="@SelectedFiles"/>
                    <InfoFile SelectedFiles="@SelectedFiles"/>                   
                }
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {




    private IList<FileUnit> SelectedFiles { get; set; }

    public IEnumerable<FileUnit>? files{ get; set; }

    private bool CheckBoxUser = false;


    protected override async  void OnInitialized()
    {
        SelectedFiles = new List<FileUnit>();
    }



    private void SetSelectedFiles(IList<FileUnit> fileUnit)
    {
        if (fileUnit != null)
        {
            SelectedFiles = fileUnit;
        }
    }

    private void OnChange(bool value)
    {


    }

        private void NavigatetoToAddFile()
    {
        Navigation.NavigateTo("/AddFile");
    }
}
