@page "/"
@using DocumentMaster.BlazorServer.Authentication
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Models
@using System.IO


@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject ProtectedSessionStorage sessionStorage



<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        
    </Authorized>
    <NotAuthorized>
        <h1>Hello, Guest!</h1>
        <img src="/images/background.jpg" class="background" />
    </NotAuthorized>
</AuthorizeView>

Welcome to your new app.







@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }



}